section p{
    font-family: 'Roboto', sans-serif;
    color: var(--offwhite);
    font-size: 18px;
    line-height: 1.5;
    text-wrap: pretty;
    height: 100vh;
}

section li{
    font-family: 'Roboto', sans-serif;
    color: var(--offwhite);
}

.titulo{
    font-family: 'Playfair Display SC', serif;
    font-size: 2.5em; /* Tamaño del título */
    font-weight: 700; /* Peso para un impacto visual fuerte */
    line-height: 1.2; /* Espaciado entre líneas */
    margin-bottom: 20px; /* Espacio inferior */
    color: var(--offwhite);
    text-wrap: pretty;
}


.a {
    transform: translateY(50px);
    color: var(--offwhite);
    width: 100%;
    height: 100%;
} 

.b {
    transform: translateY(50px);
    color: var(--offwhite);
    width: 100%;
    height: 100%;
}

.c{
    transform: translateY(50px);
    color: var(--offwhite);
    width: 100%;
    height: 100%;
}

.redondoimg{
    grid-column: 3;
    grid-row: 2 / span 2;
    width: 350px;
    height: 350px;
    padding: 5px;
    background: linear-gradient(60deg, var(--azul-neon2), var(--melon-neon)); /* Degradado de dos colores */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    width: 345px;
    height:345px;
    border-radius: 50%; /* Esto mantiene la imagen completamente redonda */
    z-index: 1;
    object-fit: cover;
}

.cont1{
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto;
    grid: gap 10px;
    margin-left: 20px;
}

.cont2{
    display: flex;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(22%, 1fr));
    grid-auto-rows: 270px;
}

#TS1{
    grid-row: 1;
}

#TX1{
    text-align: justify; 
    grid-row: 2;
}

#L1{
    text-align: justify;
    grid-row: 3;
}

#TS2{
    text-align: center;
}

#TS3{
    text-align: center;
}

/* Secciones animadas inicialmente */
.animated {
    opacity: 1; /* Iniciar en 0 */
    animation-duration: 0.5s;
    animation-name: fadeOut;
    animation-timeline: view(auto 99%);
}

.cont3 {
    display: flex; /* Usar flexbox para alinear los iconos */
    justify-content: center; /* Centrar horizontalmente los iconos */
    gap: 20px; /* Espacio entre los iconos */
}

.iconos-container {
    display: flex; /* Alinear horizontalmente los elementos dentro del contenedor */
    justify-content: center; /* Distribuir espacio entre los íconos */
    gap: 40px;
}

.redes-cont {
    display: flex;
    flex-direction: column; /* Apilar el círculo y el texto verticalmente */
    align-items: center; /* Centrar horizontalmente */
    text-align: center; /* Alinear texto al centro */
    margin: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.redes-cont .circulo{
    transition: all 0.4s ease;
    overflow: hidden;
}

.redes-cont:hover .circulo{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(93, 224, 230, 0.8);
    background: solid white;
    border-color: var(--melon-neon);
}

.redes-cont:hover::before .circulo{
    content:' ';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(60deg, var(--azul-neon),var(--melon-neon));
    transition: all 0.6s ease;
    transform: translate(-50%, -50%) scale(1);
    z-index: 0;
    border-radius: 50;
}

.redes-cont::before .circulo{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    transition: all 0.6s ease;
    transform: translate(-50%, -50%) scale(0);
    z-index: 0;
    border-radius: 50%;   
}

.redes-cont:active .circulo{
    transform: scale(0.95);
}

.redes-cont .nombrered{
    position: relative;
    transition: all 0.4s ease;
    overflow: hidden;
}

.nombrered::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--azul-neon);
    transition: all 0.3 ease;
}

.redes-cont:hover .nombrered::after{
    width: 100%;
    transition: all 0.3s ease;
}

.redes-cont:hover .nombrered{
    transform: translateY(-2px);
}

.circulo {
    display: inline-flex;
    border: 4px solid black;
    border-radius: 50%;
    padding: 30px;
    box-sizing: border-box;
}

.icono {
    height: 200px; /* Ajusta el tamaño de las imágenes según tus preferencias */
    width: 200px;
}

.nombrered {
    font-family: 'Playfair Display', serif; /* Aplicar la fuente */
    font-size: 2em;
    font-weight: 700; /* Peso para un impacto visual fuerte */
    line-height: 1.2; /* Espaciado entre líneas */
    color: var(--offwhite); /* Color del texto */
    margin-top: 10px; /* Espacio entre el icono y el texto */
    padding: 15px;
    background: transparent;
}

.enlace-red {
    display: block;
    color: inherit; /* Mantiene el color del texto original */
    text-decoration: none; /* Quita el subrayado */
    width: 100%;
    height: 100%;
}
