#TX1{
    display: inline-block;
    text-align: justify;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    text-wrap: pretty;
}

#TS1{
    text-align: center;
}

.cont1{

}

.a{

}





.animated{

}
